{
  "env": {
    "node": true
  },

  "rules": {
    "no-global-strict": 0,
    "quotes": "single",
    "no-use-before-define": 0,

    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-spaced-func": 1,
    "space-after-keywords": [1, "always", { "checkFunctionKeyword": true } ],
    "space-before-blocks": "always",
    "space-in-brackets": "always"
  }
}
